<div class="tab biography" data-group="primary" data-tab="biography">
	{{> actors/partials/decorations/column-svg }}

	<div class="content">
		<div class="section truths">
			{{> actors/partials/inventory-section
				itemNameLabel="dishonored.actor.truth.content"
				itemNameStyle="column-x1"
				sectionTitle="dishonored.actor.truth.title"
				sectionType="truth"
			}}
		</div>

		<div class="section contacts">
			{{> actors/partials/inventory-section
				itemNameLabel="dishonored.actor.truth.content"
				itemNameStyle="column-x2"
				sectionTitle="dishonored.actor.contact.title"
				sectionType="contact"
			}}
		</div>
	</div>
</div>
