<div class="tab focuses active" data-group="primary" data-tab="focuses">
	<div class="main">
		<div class="section focuses">
			{{> actors/partials/inventory-section
				itemNameLabel="dishonored.actor.genericitem.name"
				itemNameStyle="column-x2-big"
				sectionType="focus"
			}}
		</div>
	</div>
</div>
