<div class="tab notes" data-group="primary" data-tab="notes">
	<div class="section notes">
		<div class="notes">
			{{editor
				notesHTML
				button=true
				editable=editable
				engine="prosemirror"
				owner=owner
				target="system.notes"
			}}
		</div>
	</div>
</div>
