<form class="{{cssClass}}" autocomplete="off">
	<div class="header-fields">
		<div class="row">
			<div class="column headings" style="width:40%">
				{{localize 'dishonored.name'}}
			</div>
			<div class="column headings" style="width:25%">
				{{localize 'dishonored.character.archetype'}} 
			</div>
			<div class="column headings" style="width:25%">
				{{localize 'dishonored.character.outlook'}} 
			</div>
			<div class="column headings" style="width:10%">
				{{localize 'dishonored.age'}}
			</div>
		</div>
		<div class="row">
			<div class="column headings" style="width:40%">
				<input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
			</div>
			<div class="column headings" style="width:25%">
				<input name="data.archetype" type="text" value="{{data.archetype}}"/>
			</div>
			<div class="column headings" style="width:25%">
				<input name="data.outlook" type="text" value="{{data.outlook}}"/>
			</div>
			<div class="column headings" style="width:10%">
				<input name="data.age" type="text" value="{{data.age}}" placeholder="21"/>
			</div>
		</div>
		<div class="row">
			<div class="column headings">
				<div> {{localize 'dishonored.character.firstTruth'}} </div>
			</div>
			<div class="column headings">
				<div> {{localize 'dishonored.character.secondTruth'}} </div>
			</div>
		</div>
		<div class="row">
			<div class="column">
				<input name="data.truth1" type="text" value="{{data.truth1}}"/>
			</div>
			<div class="column">
				<input name="data.truth2" type="text" value="{{data.truth2}}"/>
			</div>
		</div>
		<div class="momentum-section">
			<div class="momentum-title headings">
				{{localize 'dishonored.momentum'}}
			</div>
			<div class="momentum-track">
				<input type="hidden" id="total-mom" name="data.momentum.value" value="{{data.momentum.value}}" data-dtype="Number" />
				<div class="mombox" id="mom-1">1</div>
				<div class="mombox" id="mom-2">2</div>
				<div class="mombox" id="mom-3">3</div>
				<div class="mombox" id="mom-4">4</div>
				<div class="mombox" id="mom-5">5</div>
				<div class="mombox" id="mom-6">6</div>
			</div>
		</div>
	</div>
	<div class="separator"></div>
	<div class="main">
		<div class="row">
			<div class="column">
				<div class="skill-section">
					<div class="skill-title section-title">
						{{localize 'dishonored.skill'}}
					</div>
					<div class="stat-flex-row">
						<div class="advisory">{{localize 'dishonored.select'}}</div>
						<div class="stat-text advisory">{{localize 'dishonored.skillText'}}</div>
						<div class="stat-field advisory">{{localize 'dishonored.mod'}}</div>
					</div>
					{{#each data.skills as |skill key|}}
						<div class="stat-flex-row">
							<input class="skill-roll-selector" id="{{key}}.selector" type="checkbox" name="data.skills.{{key}}.selected" data-dtype="Boolean" {{checked skill.selected}} >
							<div class="stat-text"> {{localize skill.label}} </div>
							<input class="stat-field" id="{{key}}" name="data.skills.{{key}}.value" type="text" value="{{skill.value}}"/>
						</div>
					{{/each}}
				</div>
				<div class="separator"></div>
			</div>
			<div class="column">
				<div class="stress-section">
					<div class="stress-title headings">
						{{localize 'dishonored.stress'}}
					</div>
					<div class="mainflex">
						<input type="hidden" id="total-stress" name="data.stress.value" value="{{data.stress.value}}" data-dtype="Number" />
						<div class="stressbox" id="stress-1">1</div>
						<div class="stressbox" id="stress-2">2</div>
						<div class="stressbox" id="stress-3">3</div>
						<div class="stressbox" id="stress-4">4</div>
						<div class="stressbox" id="stress-5">5</div>
						<div class="stressbox" id="stress-6">6</div>
						<div class="stressbox" id="stress-7">7</div>
						<div class="stressbox" id="stress-8">8</div>
						<div class="stressbox" id="stress-9">9</div>
						<div class="stressbox" id="stress-10">10</div>
						<div class="stressbox" id="stress-11">11</div>
						<div class="stressbox" id="stress-12">12</div>
					</div>
				</div>
				<div class="separator"></div>
				<div class="img-section">
					<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
				</div>
				<div class="separator"></div>
				<div class="void-section">
					<div class="void-title headings">
						{{localize 'dishonored.character.void'}}
					</div>
					<div class="mainflex">
						<input type="hidden" id="total-void" name="data.void.value" value="{{data.void.value}}" data-dtype="Number" />
						<div class="voidbox" id="void-1">1</div>
						<div class="voidbox" id="void-2">2</div>
						<div class="voidbox" id="void-3">3</div>
					</div>
				</div>
				<div class="separator"></div>
				<div class="check-section">
					<div class="check-button">{{localize 'dishonored.check'}}</div>
				</div>
				<div class="separator"></div>
			</div>
			<div class="column">
				<div class="style-section">
					<div class="style-title section-title">
						{{localize 'dishonored.style'}}
					</div>
					<div class="stat-flex-row">
						<div class="stat-field advisory">{{localize 'dishonored.mod'}}</div>
						<div class="stat-text advisory">{{localize 'dishonored.styleText'}}</div>
						<div class="advisory">{{localize 'dishonored.select'}}</div>
					</div>
					{{#each data.styles as |style key|}}
						<div class="stat-flex-row">
							<input class="stat-field" id="{{key}}" name="data.styles.{{key}}.value" type="text" value="{{style.value}}" placeholder="Name"/>
							<div class="stat-text"> {{localize style.label}} </div>
							<input class="style-roll-selector" id="{{key}}.selector" type="checkbox" name="data.styles.{{key}}.selected" data-dtype="Boolean" {{checked style.selected}} >
						</div>
					{{/each}}
				</div>
				<div class="separator"></div>
			</div>
		</div>
	</div>
</form>

