<div id="dishonored-tracker" class="dishonored tracker app">
    <div class="header">
        {{localize 'dishonored.tracker.chaos'}}
    </div>
    <div class="button-group">
        <div id="dishonored-track-decrease" class="button dishonored-impermitable">
            <i class="fas fa-minus"></i>
        </div>
        <div>
            <input type="text" class="input" id="dishonored-track-stat" data-dtype="Number" />
        </div>
        <div id="dishonored-track-increase" class="button dishonored-impermitable">
            <i class="fas fa-plus"></i>
        </div>
    </div>
</div>