<form class="{{cssClass}}" autocomplete="off">
    <div class="header-fields">
        <div class="row">
            <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
            <div class="item-header-input-main">
                <label>Name</label>
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </div>
            <div class="item-header-input-sub">
                <label>Value</label>
                <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" />
            </div>
        </div>
        <div class="row">
            <div class="weapon-cell"> 
                <input class="input" type="checkbox" name="data.qualities.armorpierce" data-dtype="Boolean" {{checked data.qualities.armorpierce}}>
                <label class="label">Armor Piercing</label>
            </div>
            <div class="weapon-cell"> 
                <input class="" type="checkbox" name="data.qualities.awkward" data-dtype="Boolean" {{checked data.qualities.awkward}}>
                <label class="label">Awkward</label>
            </div>
            <div class="weapon-cell"> 
                <input class="" type="checkbox" name="data.qualities.blast" data-dtype="Boolean" {{checked data.qualities.blast}}>
                <label class="label">Blast</label>
            </div>
            <div class="weapon-cell">
                <label class="label">Damage</label>
                <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="Number" />
            </div>
        </div>
        <div class="row">
            <div class="weapon-cell"> 
                <input class="" type="checkbox" name="data.qualities.block" data-dtype="Boolean" {{checked data.qualities.block}}>
                <label class="label">Block</label>
            </div>
            <div class="weapon-cell"> 
                <input class="" type="checkbox" name="data.qualities.burn" data-dtype="Boolean" {{checked data.qualities.burn}}>
                <label class="label">Burn</label>
            </div>
            <div class="weapon-cell"> 
                <input class="" type="checkbox" name="data.qualities.concealed" data-dtype="Boolean" {{checked data.qualities.concealed}}>
                <label class="label">Concealed</label>
            </div>
            <div class="weapon-cell"> 
                <input class="" type="checkbox" name="data.qualities.melee" data-dtype="Boolean" {{checked data.qualities.melee}}>
                <label class="label">Melee</label>
            </div>
        </div>
        <div class="row">
            <div class="weapon-cell"> 
                <input class="" type="checkbox" name="data.qualities.messy" data-dtype="Boolean" {{checked data.qualities.messy}}>
                <label class="label">Messy</label>
            </div>
            <div class="weapon-cell"> 
                <input class="" type="checkbox" name="data.qualities.mine" data-dtype="Boolean" {{checked data.qualities.mine}}>
                <label class="label">Mine</label>
            </div>
            <div class="weapon-cell">
                <input class="" type="checkbox" name="data.qualities.rangeddistant" data-dtype="Boolean" {{checked data.qualities.rangeddistant}}>
                <label class="label">Ranged (Distant)</label>
            </div>
            <div class="weapon-cell">
                <input class="" type="checkbox" name="data.qualities.rangednearby" data-dtype="Boolean" {{checked data.qualities.rangednearby}}>
                <label class="label">Ranged (Nearby)</label>
            </div>
        </div>
    </div>
        <div class="description-weapon">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
</form>