/* Window Content Overrides */

.dishonored .window-content {
    background: #ffffff !important;
    padding: 0;
}



/* Globals */

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/eb-garamond-v14-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/eb-garamond-v14-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/eb-garamond-v14-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/eb-garamond-v14-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/eb-garamond-v14-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/eb-garamond-v14-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/eb-garamond-v14-latin-ext_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/eb-garamond-v14-latin-ext_latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #ffffff;
    border: 1px solid #000000;
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 1px #000 inset;
    border-radius: 0px;
    background: black;
}

.notification.error.permanent {
    text-align: center;
}

.dishonored {
    font-family: "EB Garamond";
}

.dishonored .bold {
    font-weight: bold;
}

.dishonored .title {
    text-align: center;
    font-size: 18pt;
    line-height: 24px;
}

.dishonored .row {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.dishonored .row .column {
    flex-direction: column;
    text-align: center;
}

.dishonored .btn {
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ffffff;
}

.dishonored .btn:hover {
    box-shadow: 0 0 8px red;
    cursor: pointer;
}

.dishonored .unset-clickables:hover {
    box-shadow:unset !important;
    text-shadow:unset !important;
    cursor:unset !important;
    content:unset !important;
}



/* Globals - Trackers */

.dishonored .track {
    display: flex;
    flex-direction: row;
}

.dishonored .track .bar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dishonored .track .bar .box {
    height: 14px;
    outline: 1px solid #191919;
    margin-left: 1px;
    padding: 0px;
    display: block;
    font-size: 8pt;
    text-align: center;
}

.dishonored .track .bar .box:hover {
    box-shadow: 0 0 8px red;
    cursor: pointer;
}



/* Actor - Globals */

.dishonored.sheet.actor.window-app {
    min-width: 700px;
    min-height: 700px;
}



/* Actor - Header Section - Globals */

.dishonored.sheet.actor .header-fields {
    flex: 1;
    top: 0;
    position: sticky;
    background-color: #ffffff;
    /* padding: 5px; */
}

.dishonored.sheet.actor .header-fields .background {
    position: absolute;
}

.dishonored.sheet.actor .header-fields .background.left {
    left: -1px;
}

.dishonored.sheet.actor .header-fields .background.right {
    right: 0px;
}

.dishonored.sheet.actor .header-fields .slot {
    position:relative;
    width: 44%;
    left: 28%;
}

.dishonored.sheet.actor .header-fields .row .column {
    display: flex;
    width: 100%;
    padding-top: 2px;
}

.dishonored.sheet.actor .header-fields input {
    font-size: 16pt;
    height: 30px;
}

.dishonored.sheet.actor .header-fields select {
    text-align: center;
    text-align-last: center;
    font-family: "EB Garamond";
    font-size: 16pt;
    height: 30px;
}

.dishonored.sheet.actor .header-fields .section {
    padding: 0 4%;
}

.dishonored.sheet.actor .header-fields .row .column .section .profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 0;
    border: none;
}

.dishonored.sheet.actor .header-fields .tabs {
    font-size: 16pt;
    font-weight: bold;
    margin: 0;
    border-color: #000000;
    border-bottom: 0;
}



/* Actor - Header Section - Specific - Trackers */

.dishonored.sheet.actor .header-fields .section.experience {
    padding: 0;
    position: relative;
}

.dishonored.sheet.actor .header-fields .section.experience .title {
    font-size: 14pt;
    padding-top: 8px;
}

.dishonored.sheet.actor .header-fields .section .track .bar .voidchange {
    width: 10%;
}



/* Actor - Header Section - Specific - Trackers */

.dishonored.sheet.actor .header-fields .section.stress {
    padding: 0;
    position: relative;
}

.dishonored.sheet.actor .stress .track .bar .box {
    height: 20px;
    font-size: 10pt;
}



/* Actor - Header Section - Specific - Skills/Styles */

.dishonored.sheet.actor .header-fields .row .column .section .stat.row .field {
    width: 15%;
    font-size: 14pt;
    height: 24px;
    font-weight: bold;
}

.dishonored.sheet.actor .header-fields .row .column .section .stat.row .text {
    width: calc(85% - 30px);
    font-size: 12pt;
    font-weight: bold;
}

.dishonored.sheet.actor .header-fields .row .column .section .stat.row .head-text {
    font-size: 10pt;
    font-weight: bold;
}

.dishonored.sheet.actor .header-fields .row .column .section .stat.row .selector-space {
    width: 30px;
}

.dishonored.sheet.actor .header-fields .row .column .section .stat.row .selector {
    border: 1px solid;
    border-collapse: collapse;
    padding: 0px;
    display: block;
    height: 20px;
}

.dishonored.sheet.actor .header-fields .row .column .section .stat.row .selector:hover {
    box-shadow: 0 0 8px red;
    cursor: pointer;
}

.dishonored.sheet.actor .header-fields .row .column .section .check-button {
    width: 75%;
    height: 30px;
    line-height: 30px;
    margin: 5px 12.5%;
    font-size: 14pt;
}



/* Actor - Tabbed Section - Globals */

.dishonored.sheet.actor .tab {
    position: absolute;
    width: 100%;
    height: calc(100% - 528px);
    overflow-y: auto;
}

.dishonored.sheet.actor.character .tab {
    height: calc(100% - 528px);
}

.dishonored.sheet.actor.npc .tab {
    height: calc(100% - 424px);
}

.dishonored.sheet.actor .tab[data-tab].active {
    display: flex;
}

.dishonored.sheet.actor .tab .section {
    width: 45%;
    margin: 0 auto;
}

.dishonored.sheet.actor .tab .section .title {
    font-size: 18pt;
    font-weight: bold;
}

.dishonored.sheet.actor .tab .section .row {
    display: flex;
    flex-direction: row;
}

.dishonored.sheet.actor .tab .section .entry.row {
    display: flex;
    flex-direction: row;
    font-size: 12pt;
}



/* Actor - Tabbed Section - Specific - All Items */

.dishonored.sheet.actor .tab .section .item.row {
    /* border: 1px solid #000000; */
    border-radius: 5px;
    background-color: rgb(200, 200, 200, 0.3);
    font-size: 13pt;
}

.dishonored.sheet.actor .tab .section .row .image {
    width: 26px;
}

.dishonored.sheet.actor .tab .section .row .image img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: 50% 0;
    border: none;
}

.dishonored.sheet.actor .tab .section .row .image .rollable:hover {
    content: url("/icons/svg/d20-black.svg");
    /* box-shadow: 0 0 8px red; */
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px red);
}

.dishonored.sheet.actor .tab .section .row .control {
    width: 32px;
    line-height: 17pt;
    font-size: 14px;
}

.dishonored.sheet.actor .tab .section .row .column-x1 {
    width: calc(100% - 58px);
}

.dishonored.sheet.actor .tab .section .row .column-x2 {
    width: calc((100% - 58px)/2);
}

.dishonored.sheet.actor .tab .section .row .column-x2-big {
    width: calc(3*((100% - 58px)/4));
}

.dishonored.sheet.actor .tab .section .row .column-x2-small {
    width: calc((100% - 58px)/4);
}

.dishonored.sheet.actor .tab .section .row .column-x4 {
    width: calc(100% /4);
}

.dishonored.sheet.actor .tab .section .row .column-x6 {
    width: calc(100% /6);
}

.dishonored.sheet.actor .tab .small input {
    height: 17px;
}

.dishonored.sheet.actor .tab .section .row .small.disabled input {
    box-shadow: none;
    cursor: default;
    color: grey;
}



/* Actor - Tabbed Section - Specific - Focus Specific */

.dishonored.sheet.actor .tab .section.focuses {
    width: 100%;
    padding: 0 5% 0;
    top: 20%;
    position: absolute;
    overflow-y: auto;
    height: 80%;
}


/* Actor - Tabbed Section - Specific - Abilities Specific */

.dishonored.sheet.actor .tab.abilities.active {
    display: block;
}


.dishonored.sheet.actor .tab.abilities .mana {
    border-top: 1px solid #000000;
    font-size: 13pt;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dishonored.sheet.actor .tab.abilities .mana .column-x6 {
    width: calc(100% /6);
    display: flex;
}

.dishonored.sheet.actor .tab.abilities .main {
    display: flex;
    overflow-y: auto;
    top: 20%;
    position: absolute;
    padding: 0;
    bottom: 23px;
    width: 100%;
}

.dishonored.sheet.actor.character .tab.abilities .main {
    height: calc(80% - 23px);
}

.dishonored.sheet.actor.npc .tab.abilities .main {
    height: 80%;
}



/* Actor - Tabbed Section - Specific - Belonging Specific */

.dishonored.sheet.actor .tab .section.belongings {
    width: 100%;
}

.dishonored.sheet.actor .tab .section.belongings .currency {
    border-top: 1px solid #000000;
    font-size: 13pt;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dishonored.sheet.actor .tab .section.belongings .main {
    overflow-y: auto;
    padding: 0% 5% 1%;
    top: 20%;
    position: absolute;
    bottom: 23px;
    width: 100%;
}
.dishonored.sheet.actor.character .tab .section.belongings .main {
    height: calc(80% - 23px);
}
.dishonored.sheet.actor.npc .tab .section.belongings .main {
    height: 80%;
}

.dishonored.sheet.actor .tab .section.belongings .row.equipable .control {
    width: 56px;
}

.dishonored.sheet.actor .tab .section.belongings .row.equipable .column-x1 {
    width: calc(100% - 80px);
}

.dishonored.sheet.actor .tab .section.belongings .row.equipable .column-x2 {
    width: calc((100% - 80px)/2);
}

.dishonored.sheet.actor .tab .section.belongings .row.equipable .column-x2-big {
    width: calc(3*((100% - 80px)/4));
}

.dishonored.sheet.actor .tab .section.belongings .row .equipable.column-x2-small {
    width: calc((100% - 80px)/4);
}

.dishonored.sheet.actor .tab .section.belongings .row .bonecharm input {
    padding: 0;
    min-width: 0;
    width: 10px
}



/* Actor - Tabbed Section - Specific - Biography Specific */

.dishonored.sheet.actor .tab.biography .content {
    width: 100%;
    padding: 0;
    top: 20%;
    position: absolute;
    overflow-y: auto;
    height: 80%;
    display: flex;
}



/* Actor - Tabbed Section - Specific - Notes Specific */

.dishonored.sheet.actor .tab.notes {
    margin: 0;
    padding: 6% 5% 0;
}

.dishonored.sheet.actor .tab .section.notes {
    margin: 0;
    padding: 0 5%;
    width: 100%;
    top: 20%;
    position: absolute;
    overflow-y: auto;
    height: 80%;
    left: 0;
    bottom: 0;
}

.dishonored.sheet.actor .tab .section.notes .notes {
    height: 95%;
    margin: 0;
}

.dishonored.sheet.actor .tab .section.notes .notes .editor {
    height: 100%;
    margin: 0;
    overflow: unset;
}

.dishonored.sheet.actor .tab .section.notes .notes .editor .tox {
    height: 100% !important;
    margin: 0;
}

.dishonored.sheet.actor .tab .section .notes .editor .editor-content {
    font-size: 16px;
    overflow-y: unset;
}

.dishonored.sheet.actor .tab .section .notes .editor .editor-content h1, h2 {
    line-height: 1.2em;
    border-color: #4b4a44;
}



/* Item - Globals */

.dishonored.sheet.item .header-fields {
    font-weight: bold;
    font-size: 12pt;
}

.dishonored.sheet.item .header-fields .row .img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: 50% 0;
}
.dishonored.sheet.item .header-fields .row .column-x3-big {
    width: calc(40% - 50px);
}

.dishonored.sheet.item .header-fields .row .column-x3-big {
    width: calc(60% - 50px);
}

.dishonored.sheet.item .header-fields .row .column-x2 {
    width: calc(50% - 25px);
}

.dishonored.sheet.item .header-fields .row .column-x2-big {
    width: calc(80% - 50px);
}

.dishonored.sheet.item .header-fields .row .column-x1 {
    width: calc(100% - 50px);
}

.dishonored.sheet.item .header-fields .row .column-x2-x3-small {
    width: 20%;
}

.dishonored.sheet.item .description {
    height: calc(100% - 50px);
}

.dishonored.sheet.item .description .editor {
    height: 100%;
}

.dishonored.sheet.item .description .editor .tox {
    height: 100% !important;
}



/* Item - Contact Specific */

.dishonored.sheet.item.contact .header-fields .row .send2actor {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 14pt;
}

.dishonored.sheet.item.contact .description {
    height: calc(100% - 70px);
}



/* Item - Weapon Specific */

.dishonored.sheet.item.weapon .header-fields .row .column-x4 {
    width: 25%;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.dishonored.sheet.item.weapon .header-fields .row .column-x4 .label {
    font-size: 14px;
    line-height: 26px;
}

.dishonored.sheet.item.weapon .description {
    height: calc(100% - 128px);
}



/* Roll - Globals */

.dishonored.roll .dice-roll .dice-result .dice-tooltip {
    display: block;
}



/* Roll - Skill Test */

.dishonored.roll.skill .dice-roll .dice-result .dice-formula .aim {
    margin: 0;
    background: unset;
    border: 0;
}

.dishonored.roll.skill .dice-roll .dice-result .dice-tooltip .dice .dice-rolls {
    display: flex; 
    justify-content: center;
}



/* Roll - Generic */

.dishonored.roll.generic .dice-roll .dice-result .dice-formula {
    box-shadow: none;
    line-height: normal;
    cursor: pointer;
    word-break: normal;
}

.dishonored.roll.generic .dice-roll .dice-result .dice-formula.title {
    display: flex;
    flex-direction: row;
    background: none;
    border: none;
    text-align: left;
    font-size: 1.2em;
}

.dishonored.roll.generic .dice-roll .dice-result .dice-formula .img {
    height: 45px;
}

.dishonored.roll.generic .dice-roll .dice-result .tags {
    display: flex;
    flex-direction: row;
    text-align: center;
	flex-wrap: wrap;
}

.dishonored.roll.generic .dice-roll .dice-result .tags .tag {
    width: calc(100%/3);
    font-size: 12px;
    flex-grow: 1;
    border: 0.5px solid black;
    border-radius: 3px;
    background-color: rgb(255, 255, 255, 0.3);
}



/* Tracker - Generic */

.dishonored.tracker {
    position: absolute;
}

.dishonored.tracker.panel {
    right:304px;
    bottom: 5px;
    -webkit-transition: right 0.5s linear;
      -moz-transition: right 0.5s linear;
        -ms-transition: right 0.5s linear;
          -o-transition: right 0.5s linear;
            transition: right 0.5s linear;
}

.dishonored.tracker.panel.tracker-collapsed {
    right:0px;
    -webkit-transition: right 0.5s linear;
      -moz-transition: right 0.5s linear;
        -ms-transition: right 0.5s linear;
          -o-transition: right 0.5s linear;
            transition: right 0.5s linear;
  }

.dishonored.tracker.button {
    cursor: pointer;
}

.dishonored.tracker.button:hover {
    text-shadow: 0 0 6px red;
}

.dishonored.tracker.chaos.number {
    border-radius: 70px;
    width: 70px;
    height: 69px;
    bottom: 63px;
    text-align: center;
    right: 56px;
    font-size: 45px;
    z-index: 1;
    border: none;
    color: black;
    font-family: "EB Garamond";
    font-weight: bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.dishonored.tracker.chaos.increase {
    bottom: 108px;
    right: 11.5px;
    font-size: 24px;
    z-index: 1;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.dishonored.tracker.chaos.decrease {
    bottom: 79px;
    right: 9px;
    font-size: 20px;
    z-index: 1;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.dishonored.tracker.chaos.header {
    right: 25px;
    bottom: 0px;
    color: #ffffff;
    z-index: 1
}

.dishonored.tracker.momentum.header {
    bottom: 25px;
    right: 280px;
    z-index: 1;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.dishonored.tracker.momentum.track {
    position: relative;
}

.dishonored.tracker.momentum.track.item.track-1 {
    left: 42px;
}

.dishonored.tracker.momentum.track.item.track-2 {
    left: calc(42px + 83px);
}

.dishonored.tracker.momentum.track.item.track-3 {
    left: calc(42px + 83px + 83px);
}

.dishonored.tracker.momentum.track.item.track-4 {
    left: calc(42px + 83px + 83px + 83px);
}

.dishonored.tracker.momentum.track.item.track-5 {
    left: calc(42px + 83px + 83px + 83px + 83px);
}

.dishonored.tracker.momentum.track.item.track-6 {
    left: calc(42px + 83px + 83px + 83px + 83px + 83px);
}

.dishonored.tracker.momentum.track.item.background {
    position: absolute; 
    bottom: 8px;
    pointer-events: none;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.dishonored.tracker.momentum.track.item.background.svg:hover {
    filter: drop-shadow(0 0 6px red);
}

.dishonored.tracker.momentum.track.item.background.slot {
    pointer-events: auto;
    stroke:white; 
    stroke-width:2px; 
    fill: transparent;
    z-index: 5;
    cursor: pointer;
}

.dishonored.tracker.momentum.track.item.foreground {
    position: absolute;
    width: 83px;
    display: inline;
    text-align: center;
    bottom: 8px;
    z-index: 1;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.dishonored.tracker.momentum.track.item.foreground:hover ~ .dishonored.tracker.momentum.track.item.background.svg {
    filter: drop-shadow(0 0 6px red);
}

.dishonored.tracker.header {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}



/* Logo - Generic */

.dishonored.logo {
    position: absolute;
    display: block;
    margin-right: 0;
    left: 74px;
    top: 31px;
    z-index: 61;
    color: #000;
    text-decoration: none;
}

.dishonored.logo img {
    width: 30px;
    border: none;
}

.dishonored.logo div {
    font-size: 10px;
    line-height: 0.1;
    text-align: center;
}