/* .dishonored {
  Sheet Tabs
  Items List
  Attributes
} */

.dishonored .header-fields {
    flex: 1;
    /* For when I start changing the background to a more Dishonored Style one:
    position: sticky;
    top: 0; */
}

.dishonored .header-fields .row {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.dishonored .header-fields .column {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.dishonored .experience-title {
    text-align: center;
    font-size: 14px;
}

.dishonored .experience-track {
    display: flex;
    flex-direction: row;
}

.dishonored .expbar {
    width: 100%;
}

.dishonored .expbox {
    height: 14px;
    border: 1px solid #191919;
    border-collapse: collapse;
    padding: 0px;
    display: block;
    font-size: 8pt;
    text-align: center;
}

.dishonored .expbox:hover {
    box-shadow: 0 0 8px red;
    cursor: pointer;
}

.dishonored .momentum-title {
    text-align: center;
}

.dishonored .momentum-track {
    display: flex;
    flex-direction: row;
}

.dishonored .mombar {
    width: 100%;
}

.dishonored .mombox {
    width: calc(100%/6);
    height: 14px;
    border: 1px solid #191919;
    border-collapse: collapse;
    padding: 0px;
    display: block;
    font-size: 8pt;
    text-align: center;
}

.dishonored .mombox:hover {
    box-shadow: 0 0 8px red;
    cursor: pointer;
}

.dishonored .main {
    flex: 1;
}

.dishonored .main .row {
    display: flex;
    flex-direction: row;
    text-align: center;
    max-height: 250px;
}

.dishonored .main .column {
    flex-direction: column;
    text-align: center;
    width: 33.3333333333%;
    overflow-y: auto;
}

.dishonored .stat-flex-row {
    display: flex;
    flex-direction: row;
}

.dishonored .stat-flex-row .stat-field {
    width: 30%;
}

.dishonored .stat-flex-row .stat-text {
    width: 55%;
}

.dishonored .window-content {
    height: 100%;
    padding: 5px;
}

.dishonored .sheet-header {
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.dishonored .mainflex {
    display: flex;
    flex-direction: row;
}

.dishonored .stressbar {
    width: 100%;
}

.dishonored .stressbox {
    height: 14px;
    border: 1px solid #191919;
    border-collapse: collapse;
    padding: 0px;
    display: block;
    font-size: 8pt;
    text-align: center;
}

.dishonored .stressbox:hover {
    box-shadow: 0 0 8px red;
    cursor: pointer;
}

.dishonored .skill-roll-selector {
    width: 15%;
    border: 1px solid;
    border-collapse: collapse;
    padding: 0px;
    display: block;
}

.dishonored .skill-roll-selector:hover {
    box-shadow: 0 0 8px red;
    cursor: pointer;
}

.dishonored .style-roll-selector {
    width: 15%;
    border: 1px solid;
    border-collapse: collapse;
    padding: 0px;
    display: block;
}

.dishonored .style-roll-selector:hover {
    box-shadow: 0 0 8px red;
    cursor: pointer;
}

.dishonored .voidbar {
    width: 100%;
}

.dishonored .voidbox {
    height: 14px;
    border: 1px solid #191919;
    border-collapse: collapse;
    padding: 0px;
    display: block;
    font-size: 8pt;
    text-align: center;
}

.dishonored .voidbox:hover {
    box-shadow: 0 0 8px red;
    cursor: pointer;
}

.dishonored .voidchange {
    width: 5%;
    height: 14px;
    border: 1px solid #191919;
    border-collapse: collapse;
    padding: 0px;
    display: block;
    font-size: 8pt;
    text-align: center;
}

.dishonored .voidchange:hover {
    box-shadow: 0 0 8px red;
    cursor: pointer;
}

.dishonored .check-button {
    width: 75%;
    height: 30px;
    background-color: #000000;
    color: #ffffff;
    line-height: 30px;
    margin: 5px 12.5%;
    font-size: 14pt;
    border-radius: 4px;
    border: 1px solid #ffffff;
}

.dishonored .check-button:hover {
    box-shadow: 0 0 8px red;
    cursor: pointer;
}

.dishonored .notes {
    height: 200px;
    text-align: left;
}

.dishonored .notes .editor {
    height: 100%;
}

.dishonored .section-title {
    font-size: 18pt;
    font-weight: bold;
}

.dishonored .sub-section-title {
    border: 1px solid #000000;
    background-color: rgb(255, 255, 255, 0.3);
}

.dishonored .item-section {
    display: flex;
    flex-direction: row;
}

.dishonored .item-section .title {
    width: 100%;
    text-align: center;
}

/* .dishonored .add-item {
    font-size: 10pt;
    line-height: 30px;
    width: 5%;
} */

.dishonored .add-item-sub {
    font-size: 10pt;
    width: 5%;
}

.dishonored .headings {
    font-size: 14pt;
}

.dishonored .advisory {
    font-weight: bold;
}

.dishonored .item-flex {
    display: flex;
    flex-direction: row;
}

.dishonored .item-image {
    width: 26px;
}

.dishonored .item-name {
    width: calc(100% - 58px);
}

.dishonored .item-controls {
    width: 32px;
}

.dishonored .item-two-section-main {
    width: calc(3*((100% - 58px)/4));
}

.dishonored .item-two-section-sub {
    width: calc((100% - 58px)/4);
}

.dishonored .item-two-section {
    width: calc((100% - 58px)/2);
}

.dishonored .manabox input {
    height: 17px;
}

.dishonored .manamax input {
    box-shadow: none;
    cursor: default;
    color: grey;
}

.dishonored .collectables {
    width: calc(100% /4);
}

.dishonored .collectables input {
    height: 17px;
}


.dishonored .item-img {
   width: 50px;
}

.dishonored .item-header-input {
   width: 50%;
   font-weight: bold;
   font-size: 12pt;
}

.dishonored .item-header-input-single {
    width: 100%;
    font-weight: bold;
    font-size: 12pt;
 }

.dishonored .item-header-input-main {
    width: 80%;
    font-weight: bold;
    font-size: 12pt;
 }

 .dishonored .item-header-input-mini-main {
    width: 80%;
    font-weight: bold;
    font-size: 12pt;
 }

 .dishonored .item-header-input-sub {
    width: 20%;
    font-weight: bold;
    font-size: 12pt;
 }

.dishonored .description {
    height: calc(100% - 50px);
}

.dishonored .description .editor {
    height: 100%;
}

.dishonored .note-npc-section {
    width:100%;
}

.dishonored .weapon-cell {
    width: 25%;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.dishonored .weapon-cell .label {
    width: 75%;
    font-weight: bold;
    line-height: 26px;
}

.dishonored .weapon-cell .input {
    width: 25%;
}

.dishonored .description-weapon {
    height: calc(100% - 128px);
}

.dishonored .description-weapon .editor {
    height: 100%;
}

.dishonored .mana {
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.dishonored .cs-item-img {
    width: 24px;
}

.dishonored .cs-item-img:hover {
    content: url("/icons/svg/d20-grey.svg") !important;
    box-shadow: 0 0 8px red;
    cursor: pointer;
}

.dishonored .item-roll-header{
    display: flex;
    flex-direction: row;
    background: none;
    border: none;
    box-shadow: none;
    line-height: normal;
    cursor: pointer;
    text-align: left;
    word-break: normal;
}

.dishonored .item-roll-img {
    height: 45px;
}

.dishonored .tags {
    display: flex;
    flex-direction: row;
    text-align: center;
	flex-wrap: wrap;
}

.dishonored .tag {
    width: calc(100%/3);
    font-size: 12px;
    flex-grow: 1;
    border: 0.5px solid black;
    border-radius: 3px;
    background-color: rgb(255, 255, 255, 0.3);
}

.dishonored .send2actor-button {
    width: 100%;
    height: 20px;
    background-color: #000000;
    color: #ffffff;
    line-height: 20px;
    font-size: 14pt;
    border-radius: 4px;
    border: 1px solid #ffffff;
}

.dishonored .send2actor-button:hover {
    box-shadow: 0 0 8px red;
    cursor: pointer;
}

.dishonored .unset-clickables:hover {
    box-shadow:unset !important;
    text-shadow:unset !important;
    cursor:unset !important;
    content:unset !important;
}